<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Thymeleaf tutorial - Answer for exercise 6: 列表展示</h1>
<h2>Product list</h2>
<table>
    <thead>
    <tr>
        <th>内容名称</th>
        <th>价格</th>
        <th>有效开始时间</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="content:${list}">
        <!--<td th:text="${content.name}">Red Chair</td>-->
        <td><a href="#" th:href="@{/content/getone(gcid=${content.gcid})}"><p th:text="${content.name}">Red Chair</p></a></td>
        <td th:text="${'$' + #numbers.formatDecimal(content.price/100, 1, 2)}">$12.00</td>
        <td th:text="${content.effectiveStartTime}">2014-12-01</td>
    </tr>
    <tr>
        <td>White table</td>
        <td>$200</td>
        <td>15-Jul-2013</td>
    </tr>
    <tr>
        <td>Reb table</td>
        <td>$200</td>
        <td>15-Jul-2013</td>
    </tr>
    <tr>
        <td>Blue table</td>
        <td>$200</td>
        <td>15-Jul-2013</td>
    </tr>
    </tbody>
</table>

</body>
</html>